<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="IAMX, One Page Responsive HTML Resume Template">
  <meta name="keywords" content="onepage, resume, CV HTML template, personal Vcard, html resume, free resume template, free HTML template, free bootstrap template, personal portfolio, free html portfolio">
	<meta name="author" content="http://trendytheme.net/">

	<title>IAMX – Responsive Personal Portfolio vCard Template</title>

  <!-- Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
	<!-- Bootstrap core CSS -->
  
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!-- Font Awesome CSS -->
	<link href="stylesheet/font-awesome.min.css" rel="stylesheet" media="screen">
	<!-- Animate css -->
  <link href="stylesheet/animate.css" rel="stylesheet">
  <!-- Magnific css -->
	<link href="stylesheet/magnific-popup.css" rel="stylesheet">
	<!-- Custom styles CSS -->
	<link href="stylesheet/style.css" rel="stylesheet" media="screen">
  <!-- Responsive CSS -->
  <link href="stylesheet/responsive.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel="shortcut icon" href="img/ico/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

    <header class="header">
      <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt=""></a>
          </div>

          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", home_path %></li>
              <li><a href="#about">About</a></li>
              <li><a href="#resume">Resume</a></li>
              <li><a href="#skills">Skills</a></li>
              <li><%= link_to "Blog", newblog_path %></li>
              <li><%= link_to "Contact", newcontact_path %></li>
            </ul>
          </div>
        </div><!-- .container -->
      </nav>
    </header><!-- End Navigation -->

    <!-- Blog Section -->
    <section id="blog" class="latest-blog-section section-padding">
      <div class="container">
        <h2 class="section-title wow fadeInUp">Latest Post</h2>

        <div class="row">
          <div class="col-sm-4">
            <article class="blog-post-wrapper">
              <div class="figure">    
                <div class="post-thumbnail">
                  <a href="#"><img src="img/blog/01.jpg" class="img-responsive " alt=""></a>
                </div>
                  <i class="fa fa-file-photo-o"></i>
              </div><!-- /.figure -->
              <header class="entry-header">
                <div class="post-meta">
                  <span class="the-category"> 
                    <a href="#">Print Design,</a> <a href="#">Photoshop</a>
                  </span>
                </div>
                <h2 class="entry-title"><a href="#" rel="">Common fonts used for newspaper template design</a></h2>
                <hr>
                <div class="entry-meta">
                  <ul class="list-inline">
                    <li>
                      <span class="the-author">
                        <a href="#">Admin</a> 
                      </span>
                    </li>
                    <li>
                      <span class="the-time">
                        <a href="#">06 Jan 2015</a>
                      </span>
                    </li>
                    <li>
                      <span class="the-share">
                        <a href="#" title="share">30</a>
                      </span>
                    </li>
                    <li>
                      <span class="the-comments">
                        <a href="#" title="">05</a>
                      </span>
                    </li>
                  </ul>
                </div><!-- .entry-meta -->
              </header><!-- .entry-header -->
            </article>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <article class="blog-post-wrapper">
              <div class="figure">    
                <div class="post-thumbnail">
                  <a href="#"><img src="img/blog/02.jpg" class="img-responsive " alt=""></a>
                </div>
                  <i class="fa fa-file-video-o"></i>
              </div><!-- /.figure -->
              <header class="entry-header">
                <div class="post-meta">
                  <span class="the-category"> 
                    <a href="#">Print Design,</a> <a href="#">Photoshop</a>
                  </span>
                </div>
                <h2 class="entry-title"><a href="#" rel="">What is the style of font called that is typically</a></h2>
                <hr>
                <div class="entry-meta">
                  <ul class="list-inline">
                    <li>
                      <span class="the-author">
                        <a href="#">Admin</a> 
                      </span>
                    </li>
                    <li>
                      <span class="the-time">
                        <a href="#">06 Jan 2015</a>
                      </span>
                    </li>
                    <li>
                      <span class="the-share">
                        <a href="#" title="share">30</a>
                      </span>
                    </li>
                    <li>
                      <span class="the-comments">
                        <a href="#" title="">05</a>
                      </span>
                    </li>
                  </ul>
                </div><!-- .entry-meta -->
              </header><!-- .entry-header -->
            </article>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <article class="blog-post-wrapper">
              <div class="figure">    
                <div class="post-thumbnail">
                  <a href="#"><img src="img/blog/03.jpg" class="img-responsive " alt=""></a>
                </div>
                  <i class="fa fa-quote-left"></i>
              </div><!-- /.figure -->
              <header class="entry-header">
                <div class="post-meta">
                  <span class="the-category"> 
                    <a href="#">Print Design,</a> <a href="#">Photoshop</a>
                  </span>
                </div>
                <h2 class="entry-title"><a href="#" rel="">How to create a print ready brochure using photoshop</a></h2>
                <hr>
                <div class="entry-meta">
                  <ul class="list-inline">
                    <li>
                      <span class="the-author">
                        <a href="#">Admin</a> 
                      </span>
                    </li>
                    <li>
                      <span class="the-time">
                        <a href="#">06 Jan 2015</a>
                      </span>
                    </li>
                    <li>
                      <span class="the-share">
                        <a href="#" title="share">30</a>
                      </span>
                    </li>
                    <li>
                      <span class="the-comments">
                        <a href="#" title="">05</a>
                      </span>
                    </li>
                  </ul>
                </div><!-- .entry-meta -->
              </header><!-- .entry-header -->
            </article>
          </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
        <div class="blog-more text-center">
          <a href="#" class="btn btn-primary">View More</a>
        </div>
        
      </div><!-- /.container -->
    </section><!-- End Blog Section -->


    

	<!-- Javascript files -->
	<script src="js/jquery.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
  <script src="js/smoothscroll.js"></script>
    <script src="js/wow.min.js"></script>
  <script src="js/jquery.countTo.js"></script>
  <script src="js/jquery.inview.min.js"></script> 
  <script src="js/jquery.easypiechart.js"></script>
  <script src="js/jquery.shuffle.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.fitvids.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>